<div class="inner-bg">
    <div class="container">

            <div class="row" style="margin-top: -50px">
              <div class="col-sm-6 col-sm-offset-3">

                <div class="form-box">
                    <div class="form-top">
                      <div class="form-top-left">
                        <h3>Edit this Bill</h3>
                        </div>
                      <div class="form-top-right">
                        <i class="fa fa-pencil"></i>
                      </div>
                    </div>

                  <div class="form-bottom">
                    <form role="form" action="/bills/<%= @bill.id%>" method="post" class="signup-form">
                      <input id="hidden" type="hidden" name="_method" value="PATCH">

                      <div class="form-group">
                        <label class="sr-only" for="form-description">Bill Name</label>
                        <input type="text" name="bill[bill_name]" placeholder="Bill Name..." class="form-description form-control" id="form-description" value="<%= @bill.bill_name%>">
                      </div>

                      <div class="form-group">
                        <label class="sr-only" for="form-amount">Bill Amount</label>
                        <input type="text" name="bill[bill_amount]" placeholder="Bill Amount..." class="form-amount form-control" id="form-amount" value="<%= @bill.bill_amount%>">
                      </div>

                      <div class="form-group">
                        <label class="sr-only" for="date">Due Date</label>
                        <input class="form-date" type="date" name="bill[due_date]" placeholder="YYYY-MM-DD" value="<%= @bill.due_date%>" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" title="Enter a date in this formart YYYY-MM-DD"/>
                      </div>


                            <div class="form-group">
                             <label class="switch" for="paid">Paid</label>
                              <input type="checkbox" name="paid">
                              <span class="slider round"></span>
                            </div>

                    


                        <button type="submit" class="btn">Update</button>
                    </form>
                    <br>

                    <form action="/bills/<%= @bill.id %>/delete" method="post">
                        <input type="hidden" id="hidden" name="_method" value="DELETE">
                      <button type="submit" class="btn btn-danger">Delete Bill</button>
                    </form>

                  </div>
              </div>
            </div>


    </div>
</div>
