<h1>Welcome, <%= current_user.username if current_user %> </h1>

<h2>Here are your recently saved bills:</h2>

<a href="/bills/new">Add A New bill</a>
<br>
<br>


<table id="customers">
  <tr>
    <th>Bill Name</th>
    <th>Bill Amount</th>
    <th>Due Date</th>
    <th>Paid?</th>
    <th>Edit Bill</th>
  </tr>
  <tr>
    <% current_user.bills.each do |bill| %>

    <td><%= bill.bill_name %></td>
    <td><%= bill.bill_amount %></td>
    <td><%= bill.due_date %></td>
    <td><%= bill.paid ? 'yes' : 'no' %></td>
    <td><a href="/bills/<%=bill.id%>/edit">Edit<span class="glyphicon glyphicon-pencil"></span></a></td>
  </tr>
<% end %>
</table>
